{% extends "base.html.twig" %}

{% block title %}Mon espace perso - HotelHouse{% endblock %}

{% block body %}

    <h1 class="text-center my-4 text-info">Mon espace personnel</h1>

    <div class="row">
        <div class="col-8 mx-auto">
            {% include "include/_flashes.html.twig" %}
        </div>
    </div>
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    {{ app.user.nom }} {{  app.user.prenom | capitalize }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bonjour {{ app.user.pseudo }}
                    {% if app.user.civilite == "homme" %} <i class="fa-solid fa-person"></i>
                    {% else %}
                        <i class="fa-solid fa-person-dress"></i>
                    {% endif %}</h5>
                    <p class="card-text">Mon email : {{ app.user.email }}</p>
                    <a href="{{ path('change_password', {'id': app.user.id}) }}" class="btn btn-primary">Changer mon mot de passe</a>
                </div>
                <div class="card-footer text-muted">
                    Compte crée le : {{ app.user.createdAt | date('d/m/Y') }} | Modifié : {{ app.user.updatedAt | date('d/m/Y') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}