{% extends "base.html.twig" %}

{% block title %}Accueil - HotelHouse
{% endblock %}

{% block body %}

	<div class="card">
		<img src="{{ asset('img/hotel.jpg') }}" class="card-img" alt="...">
		<div class="card-img-overlay">
			<div class="carousel-caption d-none d-md-block">
				<button type="button" class="btn btn-info"><a class="nav-link" href="{{ path('show_chambres') }}">HotelHouse | Découvrez nos chambres</a></button>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="row m-4 text-center">
			<div class="col-lg-4 col-md-4 col-sm-4 ">
				<img src="{{ asset('img/chambre.jpg') }}" class="rounded-circle" alt="" width="50%"/>
				<h5 class="text-secondary">Chambre</h5>
				<p class="text-secondary">Venez découvrir nos chambres pour votre plus grand confort!</p>
				<button type="button" class="btn btn-secondary">
					<a class="nav-link" href="{{ path('show_chambres') }}">Voir les chambres</a>
				</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 ">
				<img src="{{ asset('img/resto.jpg') }}" class="rounded-circle" alt="" width="50%"/>
				<h5 class="text-secondary">Restaurant</h5>
				<p class="text-secondary">Nos plats sont confectionnés à la minute par notre chef cuisiner chaque jour.</p>
				<button type="button" class="btn btn-secondary">
					<a class="nav-link" href="{{ path('app_menu') }}">Voir la carte</a>
				</button>

			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<img src="{{ asset('img/spa.jpg') }}" class="rounded-circle" alt="" width="50%"/>
				<h5 class="text-secondary">Spa</h5>
				<p class="text-secondary">Détendez-vous et offrez vous un massage dont vous vous rappellerez longtemps.</p>
				<button type="button" class="btn btn-secondary">
					<a class="nav-link" href="{{ path('show_spa') }}">Voir les soins</a>
				</button>
			</div>

		</div>
	</div>


{% endblock %}
