{% extends "base.html.twig" %}

{% block titre %}Tableau de bord{% endblock %}

{% block body %}

<h1>Tableau de bord</h1>

    <div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

<div>

<div><a href="#">Ajouter une chambre</a></div>

<div><a href="{{ path('show_trash') }}">Voir les archives</a></div>


</div>

    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Description courte</th>
            <th>Description Longur</th>
            <th>Photo</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
        <tr>
            <td>{{ chambre.id }}</td>
            <td>{{ chambre.titre }}</td>
            <td>{{ chambre.descriptionCourte }}</td>
            <td>{{ chambre.descriptionLongue}}</td>
            <td>{{ chambre.photo}}</td>
            <td>{{ chambre.prixJournalier}}</td>
            <td>
            <a href="{{ path('update_chambre', {"id": chambre.id}) }}" class="text-info" title="Modifier la chambre"><i class="fa fa-edit"></i></a>
             <a href="{{ path('soft_delete_chambre', {"id": chambre.id}) }}" class="text-danger" title="Archiver la chambre" onclick="return confirm('Voulez-vous archiver cette chambre ?')"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>














{% endblock %}